##IBM Applied Data Science Capstone Week 03 - Web Scraping
This notebook contains the code to scrape Toronto neighborhood data.

In [32]:
# Import needed libraries

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

print("Libraries imported.")

Libraries imported.

In [33]:
soup = BeautifulSoup(data, 'html.parser')

###Download the Data

In [34]:
# GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

###Process the Table

In [35]:
# find all the rows of the table
soup.find('table').find_all('tr')

# for each row of the table, find all the table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [36]:
postal_codes = []
boroughs = []
neighborhoods = []

for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postal_codes.append(cells[0].text.strip())
        boroughs.append(cells[1].text.strip())
        neighborhoods.append(cells[2].text.strip())

###Create Pandas Dataframe

In [37]:
# create the pandas dataframe
df_toronto = pd.DataFrame({'PostalCode': postal_codes, 'Borough': boroughs, 'Neighborhood': neighborhoods})
df_toronto.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

###Remove Not Assigned

In [38]:
# remove Not Assigned

df_toronto['Borough'].replace('Not assigned', np.nan, inplace = True)
df_toronto.dropna(subset = ['Borough'], inplace = True)

df_toronto.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

###Aggregate and Join the Data

In [39]:
df_tor_groupby = df_toronto.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_tor_groupby.columns = ['PostalCode', 'Borough', 'Neighborhood']
df_tor_groupby.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

###Count the Rows

In [40]:
df_tor_groupby.shape

(103, 3)